.footerContainer {
  width: 100%;
  height: 250px;
  background: linear-gradient(to right, #434343 0%, black 100%);
  overflow: hidden;
}

.footerContent {
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #eee;
}

.footerContentItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerContentItems h3 {
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .footerContent {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .footerContentItems:nth-child(2) {
    display: none;
  }
}
